.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.imgLogo {
  max-width: 5vw;
  height: auto;
}

.nav-item .active {
  background-color: #0275d8;
  color: #f7f7f7 !important;
  border-radius: 3px !important;
}

.navbar-ul {
  width: 100% !important;
}

/* 
switch button css size
*/

/*
adjust css when hamburger menu is used
*/
.nav-item-small {
  border: 1px solid rgb(97, 93, 93);
  color: white !important;
}

@media only screen and (max-width: 990px) {
  .nav-item {
    width: 80%;
  }

  .searchInput {
    width: 60% !important;
  }

  .searchButton {
    color: black !important;
    background-color: #a7b7bf !important;
  }
}

/*
parallax stuff
*/

.parallax {
  /* The image used */
  background-image: url("./images/logoCrypto.png");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}