.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.imgLogo {
  max-width: 5vw;
  height: auto;
}

.thumb {
  height: 75px;
  width: 75px;
  object-fit: contain;
  /* border: 1px solid lightgray; */
}

.nav-item .active {
  background-color: #0275d8;
  color: #f7f7f7 !important;
  border-radius: 3px !important;
}

.navbar-ul {
  width: 100% !important;
}

/*
adjust css when hamburger menu is used
*/
.nav-item-small {
  border: 1px solid rgb(97, 93, 93);
  color: white !important;
}

.nav-decor {
  background-color: #E8ECEF !important;
  border-bottom: 2px solid lightgray;
}

.card-container {
  padding: 0px !important;
}

.card {
  display: flex;
  margin: 2px;
  /* height: 50vh !important; */
  padding-bottom: 40px !important;
  flex-basis: fit-content;
}

.card-text-fix {
  width: 100%;
  padding-bottom: 20px;
}

.card-text-fix img {
  width: 3vw;
  height: 3vw;
  object-fit: contain;
  /* padding-bottom: 10px; */
}

/*
*fix alignment of coin  name vs image
*/
.coin_name {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

/*loader css*/
.loader button {
  z-index: 10;
  /* padding: 12.5px; */
  /* margin-top: 25%; */
  opacity: 0.9;
}

.infoPanel {
  margin-top: 5px;
}

.card-margin-left {
  /* position: relative; */
  margin-top: 5px;
  margin-left: -7px !important;
  height: auto;
  /* min-height: 5vw !important; */
}

.card-margin-left .loader {
  padding: 25px;
  /* margin-top: 25%; */
}

.pricesUl {
  margin-top: 0 !important;
}

.pricesUl li .price {
  color: #5cb85c;
}

@media only screen and (max-width: 990px) {
  .nav-item {
    width: 80%;
  }

  .searchInput {
    width: 60% !important;
  }

  .searchButton {
    color: black !important;
    background-color: #a7b7bf !important;
  }
}

@media only screen and (max-width: 500px) {
  .hideonsmall {
    display: none;
  }
}


/*
parallax stuff
*/

.parallax {
  /* The image used */
  background-image: url("./images/logoCrypto.png");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  color: black !important;
  width: 100%;
  padding: 12.5px !important;
  border-top: 1px solid lightgray;
}