body {
  background: #a7b7bf !important;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.imgLogo {
  max-width: 8vw;
  height: auto;
}

.nav-item .active {
  background-color: #0275d8;
  color: #f7f7f7 !important;
}

/*
adjust css when hamburger menu is used
*/
.nav-item-small {
  border: 1px solid rgb(97, 93, 93);
  color: white !important;
}

@media only screen and (max-width: 990px) {
  .nav-item {
    width: 80%;
  }

  .searchbar {
    /* margin-top: 5px; */
    padding: 3px;
    width: 80%;
  }

  .searchInput {
    width: 60% !important;
  }

  .searchButton {
    color: black !important;
    background-color: #a7b7bf  !important;
  }
}